@font-face {
    font-family: 'Russo';
    src: url(/Fontes/RussoOne-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitEL';
    src: url(/Fontes/Outfit-ExtraLight.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitB';
    src: url(/Fontes/Outfit-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitSB';
    src: url(/Fontes/Outfit-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}

.container-fluid-cards{
    margin-top: 80px !important;
    margin-bottom: 20px !important;
    width: 100%;
    margin: auto;
    height: 107px;
    padding: auto;
    border-radius: 10px 10px 10px 10px;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;


}

.seção-card{
    font-family: Russo;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.seção-card img{
    width: 30%;
    height: min-content;
}

.card1-1{
    height: 380px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.247);
    background-color: rgba(255, 187, 0, 0.845);
    border-radius: 10px 10px 10px 10px;
    width: 15rem;
  
}

.card1-2{
    height: 380px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.247);
    background-color: rgba(255, 187, 0, 0.845);
    border-radius: 10px 10px 10px 10px;
    width: 15rem;
}


.card1-3{
    height: 380px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.247);
    background-color: rgba(255, 187, 0, 0.845);
    border-radius: 10px 10px 10px 10px;
    width: 15rem;
}

.card1-4{
   height: 380px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.247);
    background-color: rgba(255, 187, 0, 0.845);
    border-radius: 10px 10px 10px 10px;
    width: 15rem;
   
}

.card-img-top{
    height: 15rem;
    width: 15rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn{
    font-family: Russo;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    background-color: rgba(0, 0, 212, 0.662);
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
}

button:hover {
    background-color: rgba(2, 90, 255, 0.662);
    color: #ffffff;
    transition-duration: 0.4s;
}

.Preco{
    font-family: Russo;
    color: rgba(30, 38, 255, 0.755);
    font-size: 20px;

    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

h6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    font-family: OutfitEL;
    font-size: 16px;
}





