.scroll {
    margin-inline: auto;
    padding: 6px;
    overflow: hidden;
    height: 50px;

    max-width: 100%;
    background-color: #ff8400;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.fa-truck-fast {
    padding-right: 25px;
}

.scroll-item {
    font-size: 18px;
    padding: -20px;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.scroll-item i {
    padding-top: -4px;
}

.scroll-item p {
    padding-top: 15px;
    padding-left: 5px;
    font-family: cursive;
    font-weight: 600;
}

.scroll-container {
    display: flex;
    gap: 90px;
    max-width: max-content;
    animation: Scroll-Infinito 25s linear infinite;

}

@keyframes Scroll-Infinito {
    100% {
        translate: calc(-50% - 45px);
    } 
}