* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/20251005_1111_Capsule\ Corp\ em\ Construção_simple_compose_01k6tb9v03fzn8eyrxqyjx8dvh.png);
    background-color: #113754;
    background-attachment: fixed;
    background-size: cover;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center center;
}


@font-face {
    font-family: 'Russo';
    src: url(Fontes/RussoOne-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: Russo;
    color: #ff8400;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;

    margin-top: 2%;
    display: flex;
    justify-content: center;
}