/* Sobre CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/fundo_pronto.jpg);
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(204, 197, 197, 0.35);
    z-index: -1;
}

:root {
  --color-dominante: #FF8C00;
  --color-secundaria: #1A237E;
  --color-contraste: #FFEB3B;
  --color-branco: #F5F5F5;
  --color-preto: #212121;
  --color-hover: #E9B27F;
}

@font-face {
    font-family: 'Russo';
    src: url(Fontes/RussoOne-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitEL';
    src: url(Fontes/Outfit-ExtraLight.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitB';
    src: url(Fontes/Outfit-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitSB';
    src: url(Fontes/Outfit-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Header */

.container-fluid {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 107px;
    padding: 0;


    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

header {
    background-color: black;
    width: inherit;
    height: 95px;
}

.logo img {
    max-width: 204px;
    width: inherit;
    vertical-align: 0;
    padding-bottom: 14%;
}

.menu {
    max-width: 828px;
    width: 150%;
    padding-top: 3px;
    font-family: Russo;

    display: inherit;
    justify-content: center;
    align-items: inherit;
}
.menu nav {
    display: inherit;
    gap: 42px;
}

.menu nav a{
    color: var(--color-dominante);
    text-decoration: none;
    font-size: 24px;
    height: auto;
    position: relative;
    margin: auto;
}

.menu nav a::after {
    content: " ";
    width: 0px;
    height: 4px;
    transition: width 0.3s;
    top: 30px;
    left: 0;
    position: absolute;
    background-image: linear-gradient(45deg, var(--color-contraste), var(--color-dominante));
}

.menu nav a:hover::after {
    width: 60px;
}

.menu nav a:last-child:hover::after {
    width: 66px;
}

.menu nav a:hover {
    color: var(--color-hover);
}

.socials {
    display: inherit;
}

.socials button {
    width: 50px;
    height: 50px;
    background-color: var(--color-dominante);
    border: none;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.socials button:hover {
    background-color: var(--color-secundaria);
}

.socials button:hover i {
    color: var(--color-contraste);
}

.socials button i {
    font-size: 28px;
    padding-top: 5px;
    color: black;
    transition: color 0.3s;
}

/* Sobre */

.banner img{
    position: relative;
    max-width: 1600px;
    width: 100%;
    max-height: auto;
    height: 100%;

}

.Top {
    max-width: 500px;
    width: inherit;

}

.container {
    max-width: 700px;
    width: 100%;
    max-height: 1200px;
    height: 725px;
    border-radius: 20px;
    background-color: whitesmoke;
    border: var(--color-dominante) 10px solid;
    margin: 5% auto 5% auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-family: Russo;
    color: var(--color-dominante);
    margin-top: 1%;
    
    display: inherit;
    justify-content: inherit;
}

.container p {
    margin: 0% 4%;
    font-size: 22px;
    color: black;
    font-family: OutfitEL;
    font-weight: 50;
    text-shadow: 1px 1px 8px Rgba(194, 87, 0, 0.712);
    text-align: justify;
    padding: 40px 40px 0 40px
}

/* Footer */

.fundofooter {
    margin-top: 5%;
}

.footer {
    width: 100%;
    background-color: black;
    color: var(--color-branco);
    padding: 25px 6%;
    gap: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.titulo {
    margin-top: auto;
    gap: 10px;
    line-height: 1.4;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo h4 {
    font-size: 20px;
    font-family: OutfitEL;
    font-weight: normal;
    margin: 0;
    color: var(--color-contraste);
}

.titulo h3 {
    font-size: 22px;
    font-family: Russo;
    font-weight: normal;
    margin: 0;
    color: var(--color-dominante);
}

.logos {
    gap: 25px;
    margin: 0 auto auto auto;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logos img {
    width: 140px;
    height: auto;
    transition: transform 0.3s ease;

    display: block;
}

.logos img:hover {
    transform: scale(1.1);
}