* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/fundo_pronto.jpg);
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
@font-face {
    font-family: 'Russo';
    src: url(Fontes/RussoOne-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitEL';
    src: url(Fontes/Outfit-ExtraLight.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitB';
    src: url(Fontes/Outfit-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitSB';
    src: url(Fontes/Outfit-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Header */

.container-fluid {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 107px;


    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

header {
    background-color: black;
    width: 100%;
    height: 95px;
}

.logo img {
    max-width: 204px;
    width: 100%;
    padding-bottom: 14%;
}

.menu {
    max-width: 828px;
    width: 150%;
    padding-top: 3px;
    font-family: Russo;

    display: flex;
    justify-content: center;
    align-items: center;
}
.menu nav {
    display: flex;
    gap: 42px;
}

.menu nav a{
    color: #ff8400;
    text-decoration: none;
    font-size: 24px;
    height: auto;
    position: relative;
    margin: auto;
}

.menu nav a::after {
    content: " ";
    width: 0px;
    height: 4px;
    transition: width 0.4s;
    top: 30px;
    left: 0;
    position: absolute;
    background-image: linear-gradient(45deg, #ff2500, #e78d44);
}

.menu nav a:hover::after {
    width: 56px;
}

.menu nav a:last-child:hover::after {
    width: 66px;
}

.menu nav a:hover {
    color: #e9b27f;
}

.socials {
    display: flex;
}

.socials button {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(45deg, #ff2500, #e78d44);
    border: none;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;

}

.socials button i:hover {
    color: #e9b27f;
}

.socials button i {
    font-size: 28px;
    padding-top: 5px;
}

/* Footer */

.footer {
    position: absolute;
    width: 100%;
    background-color: #000000;
    background-attachment: scroll;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.titulo {
    width: 100%;
    color: #ff8400;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2%;
}

.titulo h4 {
    font-size: 22px;
    font-family: OutfitEL;
    margin-left: 5%;
    font-weight: 100;
}    

.titulo h3 {
    font-size: 28px;
    font-family: Russo;
    margin-left: 5%;
    font-weight: normal;
}

.logos {
    max-width: 1000px;
    display: flex;
    justify-content: flex-end center;
    align-items: center;
}

.logos img{
    width: 20%
}

.logos img:last-child{
    margin-left: 10%;
}

.logos img:not(:last-child) {
    margin-left: 10%;
}

/* Sobre */

.container h1 {
    font-family: Russo;
    color: #ff8400;
    
    -webkit-text-stroke-color: black;

    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.banner img{
    position: relative;
    max-width: 1600px;
    width: 100%;
    max-height: auto;
    height: 100%;

}

img {
    max-width: 1500vh;
    width: 600px;

}

.container {
    max-width: 100vh;
    width: 700px;
    max-height: 1200px;
    height: 725px;
    margin: auto;
    border-radius: 20px;
    background-color: whitesmoke;
    border: #ff8400 10px solid;
    margin-top: 5%;
    margin-bottom: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p {
    margin: 0% 4%;
    font-size: 22px;
    color: black;
    font-family: OutfitEL;
    font-weight: 50;
    text-shadow: 1px 1px 8px Rgba(194, 87, 0, 0.712);
    text-align: justify;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}