* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/fundo_pronto.jpg);
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

@font-face {
    font-family: 'Russo';
    src: url(Fontes/RussoOne-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitEL';
    src: url(Fontes/Outfit-ExtraLight.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitB';
    src: url(Fontes/Outfit-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitSB';
    src: url(Fontes/Outfit-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}

.container-fluid {
    max-width: 1000px;
    margin: auto;
    margin-right: 305px;
    height: 107px;


    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

header {
    background-color: black;
    width: 100%;
    height: 95px;
}

.logo img {
    width: 90%;
    height: auto;
    padding-bottom: 14%;
}

.menu {
    width: 420px;
    padding-top: 3px;
    width: 150%;
    font-family: Russo;

    display: flex;
    justify-content: center;
    align-items: center;
}
.menu nav {
    display: flex;
    gap: 42px;
}

.menu nav a{
    color: #ff8400;
    text-decoration: none;
    font-size: 24px;
    height: auto;
    position: relative;
    margin: auto;
}

.menu nav a::after {
    content: " ";
    width: 0px;
    height: 4px;
    transition: width 0.4s;
    top: 30px;
    left: 0;
    position: absolute;
    background-image: linear-gradient(45deg, #ff2500, #e78d44);
}

.menu nav a:hover::after {
    width: 56px;
}

.menu nav a:last-child:hover::after {
    width: 94px;
}

.menu nav a:hover {
    color: #e9b27f;
}

.socials {
    display: flex;
}

.socials button {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(45deg, #ff2500, #e78d44);
    border: none;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;

}

.socials button i:hover {
    color: #e9b27f;
}

.socials button i {
    font-size: 28px;
    padding-top: 5px;
}

.carousel {
    max-width: 1581px;
    width: 100%;
    height: 100%;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.247);
    margin: auto;
    background-color: transparent !important;
}

.carousel-inner {
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);;
    object-fit: cover;
}

.carousel-item img {
    width: 100%;
    object-fit: cover;
    height: auto;
    max-height: 563px;
}

.container-fluid-cards{
    margin-bottom: 50px;
    margin-top: 55px !important;
    margin-bottom: 50px !important;
    width: 100%;
    margin: auto;
    height: 107px;
    padding: auto;
    border-radius: 10px 10px 10px 10px;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;


}


.titulo-card-1{
   
    font-family: Russo;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.titulo-card-1 img{
    width: 30%;
    height: min-content
}

.titulo-card-1 h1{
    font-size: 38px;
}


.card1-1{
    width: 15rem;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.247);
    background-color: rgba(255, 187, 0, 0.845);
    border-radius: 10px 10px 10px 10px;
    padding-top: 30px;
}


.card1-2{
    width: 15rem;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.247);
    background-color: rgba(255, 187, 0, 0.845);
    border-radius: 10px 10px 10px 10px;
    padding-top: 30px;
}


.card1-3{
    width: 15rem;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.247);
    background-color: rgba(255, 187, 0, 0.845);
    border-radius: 10px 10px 10px 10px;
    padding-top: 30px;
}

.card1-4{
    width: 15rem;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.247);
    background-color: rgba(255, 187, 0, 0.845);
    border-radius: 10px 10px 10px 10px;
    padding-top: 30px;
}

.card-img-top{
    width: 12rem;
    border-radius: 10px 10px 10px 10px;
}

.btn{
    background-color: rgb(22, 0, 96);
    margin-right: 80px;
    font-size: 12px
}

.card-body h6{
    font-family: OutfitEL;
}

.card-body a {
    font-family: Russo;
    color: whitesmoke;
}

.fundofooter {
    margin-top: 5%;

}

.footer {
    position: absolute;
    width: 100%;
    background-color: #000000;
    background-attachment: scroll;
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.titulo {
    width: 100%;
    color: #ff8400;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2%;
}

.titulo h4 {
    font-size: 22px;
    font-family: OutfitEL;
    margin-left: 5%;
}    

.titulo h3 {
    font-size: 28px;
    font-family: Russo;
    margin-left: 5%;
}

.logos {
    max-width: 1000px;
    display: flex;
    justify-content: flex-end center;
    align-items: center;
}

.logos img{
    width: 20%
}

.logos img:last-child{
    margin-left: 10%;
}

.logos img:not(:last-child) {
    margin-left: 10%;
}